.filters {
  border: 1px solid #0000006e;
  padding: 1rem 1.5rem;
  border-radius: 0.6rem;
  &__title {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    & > svg {
      margin-left: 1rem;
    }
  }
  &__items {
    margin-top: 1rem;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--select {
      & > select {
        outline: none;
        background: transparent;
        padding: 0 1rem 0 0;
        width: 80px;
        border: 1px solid #777;
        border-radius: 0.25rem;
        line-height: 1.1rem;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
      }
    }
  }
}
